<p id="notice"><%= notice %></p>

<h1>Bill Payments</h1>

<table>
  <thead>
    <tr>
      <th>Amount paid</th>
      <th>Payment date</th>
      <th>Confirmation number</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bill_payments.each do |bill_payment| %>
      <tr>
        <td><%= bill_payment.amount_paid %></td>
        <td><%= bill_payment.payment_date %></td>
        <td><%= bill_payment.confirmation_number %></td>
        <td><%= link_to 'Show', bill_payment %></td>
        <td><%= link_to 'Edit', edit_bill_payment_path(bill_payment) %></td>
        <td><%= link_to 'Destroy', bill_payment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Bill Payment', new_bill_payment_path %>
