<p id="notice"><%= notice %></p>

<p>
  <strong>Amount paid:</strong>
  <%= @bill_payment.amount_paid %>
</p>

<p>
  <strong>Payment date:</strong>
  <%= @bill_payment.payment_date %>
</p>

<p>
  <strong>Confirmation number:</strong>
  <%= @bill_payment.confirmation_number %>
</p>

<%= link_to 'Edit', edit_bill_payment_path(@bill_payment) %> |
<%= link_to 'Back', bill_payments_path %>
