<%= form_for(billing_account) do |f| %>
  <% if billing_account.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(billing_account.errors.count, "error") %> prohibited this billing_account from being saved:</h2>

      <ul>
      <% billing_account.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name, %>
    <%= f.text_field :name, %>
  </div>

  <div class="field">
    <%= f.label :is_active %>
    <%= f.check_box :is_active %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
